<div class="container-fluid">

<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="#">AIP Dating</a>
</div>
<ul class="nav navbar-nav">
  <li class="active">Welcome {{vm.currentUser}}</li>
</ul>
<a href='#logout'>Log Out</a>
<!--<button type="button" class="btn btn-default" ng-click="vm.editOwn()" ng-if="!vm.admin">Edit profile</button>-->
</div>


<div class="container">
  <!--<h2 class="text-center">Profile Management</h2>-->
  <form name="profileForm" class="form-horizontal" ng-submit="vm.submit()" ng-if="!vm.admin">
    <div class="form-group">
      <label for="nickname" class="col-sm-2 control-label">Nickname</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="nickname" id="nickname"
               required placeholder="Your nickname" ng-model="vm.formProfile.nickname">
      </div>
    </div>

    <div class="form-group">
      <label for="gender" class="col-sm-2 control-label">Gender</label>
      <div class="col-sm-6">
        <input type="radio" ng-model="vm.formProfile.gender" value="Male" ng-checked="true">
        <label> Male</label>
        <br />
        <input type="radio" ng-model="vm.formProfile.gender" value="Female">
        <label> Female </label>
      </div>
    </div>
    <div class="form-group">
      <label for="age" class="col-sm-2 control-label">Age</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" name="age" id="age"
               required placeholder="Age"  ng-model="vm.formProfile.age"
        min="16" max="120">
      </div>
    </div>
    <div class="form-group">
      <label for="interest" class="col-sm-2 control-label">Interest</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="interest" id="interest"
               required placeholder="Your interest"  ng-model="vm.formProfile.interest">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <button type="button" class="btn btn-default" ng-click="vm.clear()">Clear</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  <div class="col-sm-6">
    <h3>Profile List version 3.1</h3>
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th>Nickname</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Interest</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="profile in vm.profiles">
        <td>
          {{profile.nickname}}
        </td>
        <td>
          {{profile.gender}}
        </td>
        <td>
          {{profile.age}}
        </td>
        <td>
          {{profile.interest}}
        </td>
        <td ng-if="vm.admin">
          <button ng-if="vm.admin" type="button" class="btn btn-primary" ng-click="vm.edit($index)">Edit</button>
          <button ng-if="vm.admin" type="button" class="btn btn-danger" ng-click="vm.delete($index)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
